@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1b21;
}

.button-1 {
  width: 170px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin: 5px;
  font-weight: bold;
}

.button-1-md {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin: 5px;
  font-weight: bold;
}